.cover {
  background: url("/TemplateData/background.png") no-repeat center/100%;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content {
  margin-top: calc(10% + 14rem);

  font-size: 2rem;
  color: black;
  font-weight: bold;

  height: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-wrapper a {
  color: white;
  text-decoration: none;
  position: relative;
  margin: 0 1rem;
}

.content-wrapper a:after {
  content: "";

  left: 0;
  bottom: 13%;

  width: 0;
  height: 3px;
  background: linear-gradient(to left, blue, red);

  transition: width 0.5s ease;
  position: absolute;
}

.content-wrapper a:hover:after {
  content: "";
  position: absolute;

  width: 100%;
}

ul {
  display: flex;
  justify-content: center;
}

ul li {
  margin: 0 1rem;
}

ul li a {
  display: block;

  width: 2rem;
  height: 2rem;

  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.6rem;

  background: linear-gradient(to right bottom, rgba(0, 0, 255, 0.189), rgba(255, 0, 0, 0.167));
}

ul li:hover a {
  border-radius: 50%;

  animation: spin 0.5s ease;

  background: linear-gradient(to right bottom, rgba(0, 204, 255, 0.793), rgba(0, 85, 255, 0.525));;
}

ul li img {
  width: 80%;
  height: 80%;

  object-fit: cover;
}

/* animation */

@keyframes spin {
  0% {
    transform: rotate(0);
  } 100% {
    transform: rotate(360deg);
  }
}