body {
  padding: 0;
  margin: 0;
}
#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}

#unity-canvas {
  background-image: url('unity-logo-dark.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#unity-progress-bar-empty {
  width: 60px;
  height: 60px;
  margin-top: 200px;
  margin-left: 6.5px;
  border: 7px solid #ffffff;
  border-top-color: #000000;
  border-radius: 50%;
  animation: progress-rotate 2s linear infinite;
}

@keyframes progress-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#unity-logo {
  top: 50%;
  width: auto;
  height: auto;
  background: url(".png") no-repeat center;
  background-size: auto;
}
#unity-footer {
  position: relative;
}
.unity-mobile #unity-footer {
  display: none;
}

#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
}
#unity-fullscreen-button {
  float: right;
  width: 38px;
  height: 38px;
  background: url("fullscreen-button.png") no-repeat center;
}
#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: rgb(0, 0, 0);
  padding: 10px;
  display: none;
  border-radius: 10px;
}
